@media (max-width:1080px) {
    .nav {
        display: none;
        
    }
    .burger {
        display: block;
        position: absolute;
        top: 85px;
        right: 50px;
        font-size: 20px;
    }
}
@media (max-width: 1685px) {
    
    .container2 {
        position: relative;
        top: 1100px;
        justify-content: center;
    }
    .bigboxwraper {
        margin-top: 90px;
        
    }
    
    }
      
    @media (max-width:1344px){
        .container {
            justify-content: center;
            height: 1200px;
        }
        .leftbox {
            justify-content: center;
        }
        .rigtbox {
            margin-top: 200px;
        }
        .container2 {
            top: 1500px;
        }
        
    }
    @media (max-width: 845px) {
        .bigboxwraper {
            justify-content: center;
        }
    }